## Deliverable 2. Create a Customer Travel Destinations Map.

In [17]:
# Dependencies and Setup
import pandas as pd
import numpy as np
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [2]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("Weather_Database/WeatherPy_Database.csv")
city_data_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Kahului,US,20.89,-156.47,89.60,46,40,16.11,scattered clouds
1,1,Ostrovnoy,RU,68.05,39.51,16.61,92,91,12.66,overcast clouds
2,2,New Norfolk,AU,-42.78,147.06,75.00,44,59,1.99,broken clouds
3,3,Punta Arenas,CL,-53.15,-70.92,50.00,57,0,20.80,clear sky
4,4,Albany,US,42.60,-73.97,26.01,49,64,11.30,broken clouds

In [3]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
min_temp = float(input("What is the minimum temperature you would like for your trip?"))
max_temp = float(input("What is the maximum temperature you would like for your trip?"))

What is the minimum temperature you would like for your trip?70
What is the maximum temperature you would like for your trip?90

In [4]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
prefered_city_df = city_data_df.loc[(city_data_df["Max Temp"]>=min_temp) & (city_data_df["Max Temp"]<=max_temp)]
prefered_city_df

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Kahului,US,20.89,-156.47,89.60,46,40,16.11,scattered clouds
2,2,New Norfolk,AU,-42.78,147.06,75.00,44,59,1.99,broken clouds
5,5,Labuhan,ID,-6.88,112.21,76.19,84,100,6.64,overcast clouds
7,7,Rikitea,PF,-23.12,-134.97,78.06,74,67,5.53,light rain
16,16,Hobart,AU,-42.88,147.33,75.00,45,40,6.93,scattered clouds
...,...,...,...,...,...,...,...,...,...,...
679,679,Sorong,ID,-0.88,131.25,83.03,74,100,0.49,overcast clouds
681,681,Lima,PE,-12.04,-77.03,71.60,83,75,13.87,broken clouds
690,690,Dumai,ID,1.68,101.45,73.92,95,86,0.56,overcast clouds
693,693,Cap Malheureux,MU,-19.98,57.61,75.00,81,3,5.01,clear sky
694,694,Envira,BR,-7.30,-70.22,73.53,97,88,2.33,overcast clouds

In [5]:
# 4a. Determine if there are any empty rows.
prefered_city_df.count()

City_ID                273
City                   273
Country                271
Lat                    273
Lng                    273
Max Temp               273
Humidity               273
Cloudiness             273
Wind Speed             273
Current Description    273
dtype: int64

In [7]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
clean_df = prefered_city_df.dropna()
clean_df.count()

City_ID                271
City                   271
Country                271
Lat                    271
Lng                    271
Max Temp               271
Humidity               271
Cloudiness             271
Wind Speed             271
Current Description    271
dtype: int64

In [8]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = clean_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Kahului,US,89.60,scattered clouds,20.89,-156.47,
2,New Norfolk,AU,75.00,broken clouds,-42.78,147.06,
5,Labuhan,ID,76.19,overcast clouds,-6.88,112.21,
7,Rikitea,PF,78.06,light rain,-23.12,-134.97,
16,Hobart,AU,75.00,scattered clouds,-42.88,147.33,
17,Hilo,US,82.40,light rain,19.73,-155.09,
21,Tonj,SS,74.68,clear sky,7.27,28.68,
23,Bambous Virieux,MU,77.00,scattered clouds,-20.34,57.76,
27,Butaritari,KI,81.54,overcast clouds,3.07,172.79,
32,Kapaa,US,80.60,clear sky,22.08,-159.32,

In [12]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():

    # 6c. Get latitude and longitude from DataFrame
    lat = row["Lat"]
    lng = row["Lng"]
    
    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json" 

    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json()
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [24]:
# 7. Drop the rows where there is no Hotel Name.
hotel_df["Hotel Name"] = hotel_df["Hotel Name"].replace('',np.nan)
clean_hotel_df = hotel_df.dropna()
clean_hotel_df.count()

City                   254
Country                254
Max Temp               254
Current Description    254
Lat                    254
Lng                    254
Hotel Name             254
dtype: int64

In [25]:
# 8a. Create the output File (CSV)
output_data_file = "Vacation_Search/WeatherPy_vacation.csv"
# 8b. Export the City_Data into a csv
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

In [37]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>City Name </dt><dd>{City}</dd>
<dt>Country Code</dt><dd>{Country}</dd>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>Weather Description</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp}</dd>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

In [38]:
# 11a. Add a marker layer for each city to the map. 
max_temp = clean_hotel_df["Max Temp"]
# city = clean_hotel_df["City"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=2)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)
# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))